@page
@using Volo.Abp.AspNetCore.Mvc.UI.Theming;
@inject ITheme Theme
@model Wallee.Boc.DataPlane.Web.Pages.Dashboard.IndexModel

@{
    Layout = Theme.GetEmptyLayout();
    ViewBag.FluidLayout = true;
}


@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/Dashboard/Index.js" />
        <abp-script src="/libs/echarts/js/echarts.min.js"></abp-script>
    </abp-script-bundle>
}

@section styles{
    <abp-style src="/Pages/Dashboard/Index.css"></abp-style>
}

<div class="head">
    <h1 id="dashboardTitle"></h1>
    <div class="weather">
        <span id="showTime"></span>
        <a href="/">
            <span class="fas fa-sign-out-alt">&nbsp;退出</span>
        </a>
    </div>
</div>

<div class="loading">
    <div class="loadbox"> <img src="/dashboard/images/loading.gif"> 页面加载中... </div>
</div>

<div class="mainbox">
    <ul class="clearfix">
        <li>
            <div class="boxall" style="height: 3.2rem">
                <div class="alltitle">0.2万元-20万元折效客户信息</div>
                <div class="allnav" id="convertedCusFstRangeWidget">
                    @await Component.InvokeAsync("ConvertedCusFstRange")
                </div>
                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: 3.2rem">
                <div class="alltitle">20万-50万元折效客户信息</div>
                <div class="allnav" id="convertedCusSndRangeWidget">
                    @await Component.InvokeAsync("ConvertedCusSndRange")
                </div>
                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: 3.2rem">
                <div class="alltitle">50万-500万元折效客户信息</div>
                <div class="allnav" id="convertedCusThdRangeWidget">
                    @await Component.InvokeAsync("ConvertedCusThdRange")
                </div>
                <div class="boxfoot"></div>
            </div>
        </li>
        <li>
            <div class="top-bar">
                <div class="barbox">
                    <ul class="clearfix">
                        <li class="pulll_left counter" id="creditTownSummaryTotal">2344</li>
                        <li class="pulll_left counter" id="creditVillageSummaryTotal">234324</li>
                    </ul>
                </div>
                <div class="barbox2">
                    <ul class="clearfix">
                        <li class="pulll_left">折效其他信息</li>
                        <li class="pulll_left">折效其他信息</li>
                    </ul>
                </div>
            </div>
            <div class="map">
                <div class="map1"><img src="/dashboard/images/lbx.png" /></div>
                <div class="map2"><img src="/dashboard/images/jt.png" /></div>
                <div class="map3"><img src="/dashboard/images/map.png" /></div>
                <div class="map4" id="organizationUnitMapWidget">
                    @await Component.InvokeAsync("OrganizationUnitMap")
                </div>
            </div>
            <div class="bottom-bar">
                <div class="barbox">
                    <ul class="clearfix">
                        <li class="pulll_left counter" id="herdsmanSummaryTotal">32424234</li>
                        <li class="pulll_left counter" id="newAgriMngEntitySummaryTotal">3242525</li>
                    </ul>
                </div>
                <div class="barbox2">
                    <ul class="clearfix">
                        <li class="pulll_left">折效其他信息</li>
                        <li class="pulll_left">折效其他信息</li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="boxall" style="height: 3.4rem">
                <div class="alltitle">500万-2000万元折效客户信息</div>
                <div class="allnav" id="convertedCusFourthRangeWidget">
                    @await Component.InvokeAsync("ConvertedCusFourthRange")
                </div>
                <div class="boxfoot"></div>
            </div>

            <div class="boxall" style="height: 3.2rem">
                <div class="alltitle">2000万-1亿折效客户信息</div>
                <div class="allnav" id="convertedCusFifthRangeWidget">
                    @await Component.InvokeAsync("ConvertedCusFifthRange")
                </div>
                <div class="boxfoot"></div>
            </div>

            <div class="boxall" style="height: 3rem">
                <div class="alltitle">1亿以上折效客户信息</div>
                <div class="allnav" id="convertedCusSixthRangeWidget">
                    @await Component.InvokeAsync("ConvertedCusSixthRange")
                </div>
                <div class="boxfoot"></div>
            </div>
        </li>
    </ul>
</div>
<div class="back"></div>