@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using Wallee.Boc.DataPlane.Web.Pages.Reports.Pa.ConvertCusOrgUnits.ConvertedCusOrgUnit;
@model DownloadFileModalModel
@{
    Layout = null;
}


<form asp-page="/Reports/Pa/ConvertCusOrgUnits/ConvertedCusOrgUnit/DownloadFileModal">
    <abp-modal>
        <abp-modal-header>
            请选择数据日期
        </abp-modal-header>
        <abp-modal-body>
            <abp-input type="date" asp-for="@Model.DataDate"></abp-input>
        </abp-modal-body>
        <abp-modal-footer buttons="@AbpModalButtons.Save|AbpModalButtons.Cancel"></abp-modal-footer>
    </abp-modal>
</form>

