@* <abp-script src="/viz-js/viz-standalone.js/viz-standalone.js"></abp-script> *@
<abp-row>
    <abp-column size="_6">
        <abp-card abp-border=Secondary>
            <abp-card-body>
                <abp-row>
                    <abp-column size="_9" class="d-flex align-items-center">
                        <div class="pe-0 pe-md-4">
                            <small class="text-muted">当前任务执行状态</small>
                            <h2 class="mb-4">信息管理组件任务工作流</h2>
                            <h5 class="mb-4 d-flex flex-row align-items-center" id="tdcmpStatus"></h5>
                            <div>
                                <abp-button abp-collapse-id="dotGraphCollapse" size="Small" icon="fas fa-book" button-type="Outline_Primary" text="状态">
                                </abp-button>
                                <abp-button abp-collapse-id="dotGraphCollapse" size="Small" icon="fas fa-book" button-type="Outline_Primary" text="状态">
                                </abp-button>
                                <abp-button abp-collapse-id="dotGraphCollapse" size="Small" icon="fas fa-book" button-type="Outline_Primary" text="状态图">
                                </abp-button>
                            </div>
                        </div>

                    </abp-column>
                    <abp-column size="_3" class="d-flex flex-column justify-content-center align-items-center">
                        <p class="text-secondary fs-1 fw-bold">79%</p>
                    </abp-column>
                </abp-row>
            </abp-card-body>
            <abp-card-footer>
                @* <abp-dynamic-form id="CcicBasicFilter" required-symbols="false" column-size="_3"> *@
                <abp-collapse-body id="dotGraphCollapse" class="border border-1">
                    <div id="dotGraph" class="mt-3 mb-3"></div>
                </abp-collapse-body>
                @* </abp-dynamic-form> *@
            </abp-card-footer>
        </abp-card>
    </abp-column>
</abp-row>

