@page
@using Wallee.Boc.DataPlane.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Wallee.Boc.DataPlane.Web.Pages.TDcmp.CcicAddresses.CcicAddress
@using Wallee.Boc.DataPlane.Localization
@using Wallee.Boc.DataPlane.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DataPlaneResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["CcicAddress"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:CcicAddress"].Value);
    PageLayout.Content.MenuItemName = DataPlaneMenus.TDcmp_CcicAddress;
}

@section scripts
    {
    <abp-script src="/Pages/TDcmp/CcicAddresses/CcicAddress/index.js" />
}
@section styles
    {
    <abp-style src="/Pages/TDcmp/CcicAddresses/CcicAddress/index.css" />
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["CcicAddress"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await Authorization.IsGrantedAsync(DataPlanePermissions.CcicAddress.Create))
                {
                    <abp-button id="NewCcicAddressButton"
                                text="@L["CreateCcicAddress"].Value"
                                icon="plus"
                                button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="CcicAddressCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
       @*  <abp-dynamic-form id="CcicAddressFilter" required-symbols="false" column-size="_3"> *@
            <abp-collapse-body id="CcicAddressCollapse">
               
            </abp-collapse-body>
       @*  </abp-dynamic-form> *@
        <hr />
        <abp-table striped-rows="true" id="CcicAddressTable" class="nowrap" />
    </abp-card-body>
</abp-card>
